<div class="row">
  <div class="twelve column">
    <p>Hello world!</p>
    <p>I'm Vesa Kivistö, an aspiring developer ready to conquer the world. I'm currently studying software engineering at JAMK University of Applied Sciences, Jyväskylä Finland.
    I'm interested web, mobile and desktop developing, I have experience in full-stack development and I'm always looking forward to learning something new.</p>
    <p>I've always been interested in information and communications technology as well as programming, which led to me starting to study software development at
      Saimaa Vocational College Sampo. After graduation from SAMPO with a Bachelor's Degree and a Matriculation Examination Certificate in I started my studies
      on software engineering at JAMK University of Applied Sciences. I have interest in applying for a Master's Degree and specializing in artificial intelligence
      or machine learning later in my life, but I have no plans set in stone.</p>
    <p>I spend my spare time usually by playing games and listening to music. I also enjoy photographing and reading fantasy and sci-fi books, and once in a while
      I enjoy taking a walk in nature to clear my mind. I'm still really new to photographing and it has been a slow start with that hobby, but I'm eager
      to improve my photographing skills. Lately I've been trying to start personal programming projects to improve my programming skills.</p>
  </div>
</div>
