<div class="portfolio-header">
<h5>Welcome to my portfolio!</h5>
</div>
{{#each model as |project|}}
  <div class="row portfolio-item">
      <div class="five columns">
        <img src={{project.image}} />
      </div>
      <div class="seven columns">
        <h6>{{project.title}}</h6>
        <p>{{project.description}}</p>
      </div>
  </div>
{{/each}}
