{{#each model as |project|}}
  <div class="row">
      <div class="four columns">
        <img src={{project.image}} width="300" />
      </div>
      <div class="eight columns">
        <h6>{{project.title}}</h6>
        <p>{{project.description}}</p>
      </div>
  </div>
{{/each}}
