@import "normalize.css";
@import "skeleton.css";

html {
  height: 100%;
}

body {
  background-color: #3F5765;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100%;
}

body > .ember-view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  width: 65%;
  margin: 0 auto;
  background-color: #FFF;
  height: 100%;
  flex: 1 0 auto;
}

.skill {
  display: inline-block;
  margin: 0 0.2em 0.5em 0;
  color: #FFF;
  background-color: #E24708;
  padding: 8px;
}

.skill:last-of-type {
  margin-bottom: 2em;
}

.cv-info {
  display: flex;
  justify-content: space-between;
}

.cv-info span:last-child {
  text-align: right;
}

.nav {
  position: fixed;
  background-color: #2B3A42;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: inherit;
}

.footer {
  padding: 0.75em 0;
  text-align: center;
  background-color: #2B3A42;
  color: #FFF;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav .container {
  display: flex;
  justify-content: flex-end;
}

.nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  color: #FFF;
}

.nav a:hover {
  color: #E24708;
}

.banner {
  height: 100px;
}

h5 {
  margin-bottom: 0;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.row {
  margin-bottom: 4em;
}

img {
  -webkit-box-shadow: 4px 4px 10px 0px rgba(120,120,120,1);
  -moz-box-shadow: 4px 4px 10px 0px rgba(120,120,120,1);
  box-shadow: 4px 4px 10px 0px rgba(120,120,120,1);
}

.portfolio-header h5 {
  margin-bottom: 2em;
  text-align: center;
}

.portfolio-item:last-of-type {
  margin-bottom: 8em;
}

#wrapper {
  min-height: 100%;
  overflow: auto;
}

img {
  max-width: 350px;
}

@media (max-width: 1600px) {
  img {
    max-width: 300px;
  }
}

@media (max-width: 1400px) {
  img {
    max-width: 200px;
  }
}

@media (max-width: 1049px) {
  .content {
    width: 100%;
  }
  img {
    display: flex;
    margin: 0 auto 3em auto;
    max-width: 300px;
  }
}

@media screen and (max-width: 764px) {
  img {
    max-width: 300px;
  }
}
